<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Mentions" lan="" version="1.0" date="2017-07-17" compatibility="2.0" installRequired="true" >
	<author name="Arun S. Sekher" url="https://github.com/arunshekher" />
	<summary>An @mention plugin</summary>
	<description lan="">An @mention plugin</description>
	<category>misc</category>
	<keywords>
		<word>mentions</word>
		<word>user</word>
		<word>content</word>
	</keywords>
	<adminLinks>
		<link url='admin_config.php' description='Configure Mentions Plugin' icon='images/mentions_32.png' iconSmall='images/mentions_16.png' icon128="images/mentions_128.png" primary='true' >LAN_CONGIGURE</link>
		<link url="admin_config.php?mode=options" description="Configure Mentions Prefs" icon="manage" >Mention Prefs</link>
	</adminLinks>
	<pluginPrefs>
		<pref name="mentions_active">1</pref>
		<pref name="mentions_contexts">1</pref>
		<pref name="use_global_path">0</pref>
	</pluginPrefs>
</e107Plugin>
